
<div flex layout="row" data-ng-controller="HomeController as ul">
 
    <!-- Container #3 Left -->
    <!-- md-is-locked-open="$mdMedia('gt-sm')" -->
    <!-- data-ng-controller="HeaderController" -->
   
 
    <!-- Container #4 Right -->
    <md-content flex id="content">
        <!-- User details sample -->
        <!-- <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon> -->
        <!-- <h2>{{ul.selected.name}}</h2> -->
        <!-- <p>{{ul.selected.content}}</p> -->
        <md-button class="md-fab md-accent add-task-button" ng-click="showAdvanced($event)">
            <md-icon >add</md-icon>
            <md-tooltip>
	          Add Task
	        </md-tooltip>
        </md-button>
		<md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
			<md-tab  md-center-tabs="true" label="All" class="tab-header">
				<div class="demo-tab tab" >
					<div ng-bind=""></div>
					<br>
					content Here

						

					dcsdcdcwefdewdcdscsdfrvdvdscsacadcrvdfcvdvdfvdfvsdcsdcscvfvrerdcsdcd
				</div>
			</md-tab>

			<md-tab md-center-tabs="true"  label="Incomplete" class="tab-header">
				<div class="demo-tab tab" >
					<div ng-bind=""></div>
					<br>
					<md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
				</div>
			</md-tab>

			<md-tab md-center-tabs="true"  label="Completed" class="tab-header">
				<div class="demo-tab tab" >
					<div ng-bind=""></div>
					<br>
					<md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
				</div>
			</md-tab>
		</md-tabs>
    </md-content>
</div>


<script type="text/ng-template" id="dialog1.tmpl.html">
  	<md-dialog aria-label="Mango (Fruit)" data-ng-controller="HomeController">
		<form>
			
  			<md-dialog-content>
    			<div>
					<p>
						<md-input-container>
			      	      	<md-icon class="material-icons">view_agenda</md-icon>
			      			<input type="Text" placeholder="Title" ng-required="true" data-ng-model="task.title" role="textbox" value="Here is some text">
			    		</md-input-container>

			    		<textarea class="input-field width-100" placeholder="Description" data-ng-model="task.description"></textarea

			    		


					    <div layout="">
					      	<div layout="" layout-align=>
					        	<span class="md-body-1"><br>Priority : </span>
					      	</div>
					      	<md-slider flex=""  md-discrete="" min="0" max="5" ng-model="color.red" aria-label="red" id="priority-slider" class="">
					      	</md-slider>
					       <!--	<div flex="20" layout="" layout-align="center center"> -->
					        	<input type="text" ng-model="color.red" aria-label="red" aria-controls="priority-slider" class="slider-value">
					      <!--	</div> -->
					    </div>

					    <div style="clear: both">
					        <md-checkbox ng-model="data.cb1" aria-label="Task Completed">
					          Task Completed: {{ data.cb1 }}
					        </md-checkbox>
				      	</div>

			    		
					</p>
					<div class="md-actions" layout="row">
				
				<span flex></span>
				<md-button ng-click="answer('not useful')" class="md-accent">
					Not Useful
				</md-button>
				<md-button ng-click="answer('useful')" class="md-accent">
					Useful
				</md-button>
			</div>

					
    			</div>
  			</md-dialog-content>

			
		</form>
	</md-dialog>
</script>