
<div flex layout="row" data-ng-controller="HomeController as ul">
 
    <!-- Container #3 Left -->
    <!-- md-is-locked-open="$mdMedia('gt-sm')" -->
    <!-- data-ng-controller="HeaderController" -->
   
 
    <!-- Container #4 Right -->
    <md-content flex id="content">
        <!-- User details sample -->
        <!-- <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon> -->
        <!-- <h2>{{ul.selected.name}}</h2> -->
        <!-- <p>{{ul.selected.content}}</p> -->
        <md-button class="md-fab md-accent add-task-button" ng-click="showAdvanced($event)">
            <md-icon >add</md-icon>
            <md-tooltip>
	          Add Task
	        </md-tooltip>
        </md-button>
		<md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
			<md-tab  md-center-tabs="true" label="All" class="tab-header">
				<div class="demo-tab tab" >
					<div ng-bind=""></div>
					<br>
					content Here
				</div>
			</md-tab>

			<md-tab md-center-tabs="true"  label="Incomplete" class="tab-header">
				<div class="demo-tab tab" >
					<div ng-bind=""></div>
					<br>
					<md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
				</div>
			</md-tab>

			<md-tab md-center-tabs="true"  label="Completed" class="tab-header">
				<div class="demo-tab tab" >
					<div ng-bind=""></div>
					<br>
					<md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
				</div>
			</md-tab>
		</md-tabs>
    </md-content>
</div>


<script type="text/ng-template" id="dialog1.tmpl.html">
  	<md-dialog aria-label="Mango (Fruit)">
		<form>
			
  			<md-dialog-content>
    			<div>
					<p>
						<md-input-container>
			      	      	<md-icon class="material-icons">view_agenda</md-icon>
			      			<input type="Text" placeholder="Title" ng-required="true" data-ng-model="task.title" role="textbox" value="Here is some text">
			    		</md-input-container>

			    		<textarea class="input-field width-100" placeholder="Description" data-ng-model="task.description"></textarea

			    		<md-select-menu class="width-100" placeholder="Priority" data-ng-model="task.priority">
					        <md-option value="one">One</md-option>
					        <md-option value="two">Two</md-option>
					        <md-option value="three">Three</md-option>
					        <md-option value="four">Four</md-option>
					        <md-option value="five">Five</md-option>
					    </md-select-menu>
					</p>


					
    			</div>
  			</md-dialog-content>

			<div class="md-actions" layout="row">
				
				<span flex></span>
				<md-button ng-click="answer('not useful')" class="md-accent">
					Not Useful
				</md-button>
				<md-button ng-click="answer('useful')" class="md-accent">
					Useful
				</md-button>
			</div>
		</form>
	</md-dialog>
</script>