@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

body{
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.side-menu-list{
	list-style: none;
}

.side-menu-list .icon-container{
	margin: 10px auto;
    display: block;
    width: 100px;
}


.side-menu-list .icon-container md-icon {
    width: 100px;
    height: 100px;
}

.side-menu-list .icon-container md-icon svg{
	border-radius: 50%;
}


.side-menu-list .username{
	font-size: 20px;
	text-align: center;
	width: 150px;
	margin: 5px auto;
}


.side-menu-list .md-primary{
	text-align: left;
	margin: 0px;
	color: #333 !important;
	padding: 15px;
}


.side-menu-list .md-primary .material-icons {
	margin-right: 15px;
}


textarea.input-field{
	min-height: 100px;
}

.input-field{
	border: 0px;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
	box-shadow: none;
	padding: 0px 5px;
	transition: all 0.5s ease;
	resize:none;
}

.input-field:focus{
	outline: none;
	border-bottom: 2px solid #4CAF50;
	box-shadow: none;
	box-shadow: 0 0 500px 500px #fff inset;
	transition: all 0.5s ease;

}

.input-field:-webkit-autofill{
  -webkit-box-shadow: 0px 0px 500px 500px #fff inset;
  box-shadow: 0px 0px 500px 500px #fff inset;
  background-image: none;
  color: #666;
}


.input-field:-webkit-autofill{
  -webkit-box-shadow: 0px 0px 500px 500px #fff inset;
  box-shadow: 0px 0px 500px 500px #fff inset;
  background-image: none;
  color: #666;
}

.width-100{ width: 100% !important;}

.content {
	padding-top: 50px;
	width: 100%;
	height: 100vh;
	background: #fafafa;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
}


.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.form-container {
	width: 95%;
	max-width: 350px;
	margin: 35px auto 25px;
	padding: 20px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 3px;
}



.submit-button {
	margin: 0px;
}


button.md-button.md-primary{
	color: #fff !important;
}

button.md-button .material-icons{
	color: #fff !important;
	margin-top: -2px;
	font-size: 14px;
}



.logo-container {
  margin: 0 auto;
}

.logo-container .logo {
  display: block;
  margin: 50px auto;
  max-width: 200px;
  width: 75%;
}

.main-toolbar{
	padding: 10px 15px 0px;
	color: #fff !important;
	position: relative;
}

.main-toolbar .md-button {
    color: #fff !important;
    font-size: 20px;
}

.main-toolbar button.md-button .material-icons{
	font-size: 29px;
}


.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.add-task-button{
	position: absolute;
    right: 20px;
    top: -35px;
}

button.add-task-button .material-icons{ font-size: 25px;}


md-content.md-default-theme{ overflow: visible;}


md-tab-content{ overflow-y: auto; overflow-x: hidden; }
md-backdrop { top: 0px;}
md-tabs-wrapper{ padding: 0px 10px;}

md-dialog { min-width: 350px;}

md-slider{ width: 80%; float: left;}
md-checkbox{ margin: 0px;}
.slider-value { width: 10%; float: right; border: 0px; border-bottom: 2px solid #DD2C00; text-align: center; font-weight: bold;
    color: #dd2c00;}

.app-title{
    padding-top: 7px;
    font-size: 24px;
}

section.row.ng-scope{
	height: 100vw;
	background: #fafafa;
}


md-tooltip .md-background {    background-color: rgba(0,0,0,1) !important;}



.tabs-content{ overflow: visible; background: #eee;}
.tabs-content md-content{ overflow-y: auto; overflow-x: hidden; padding-top: 5px; background: rgba(0,0,0,0); }
.task-card {
    color: #fff;
}


.task-card .action-panel .material-icons{ font-size: 18px; cursor: pointer; color: rgba(0,0,0,0.75); transition: all 0.25s ease; margin-right: 15px;}
.task-card .action-panel .material-icons:hover{ color: rgba(255,255,255,1); transition: all 0.25s ease;}

.task-card .action-panel {
    /* font-size: 7px; */
    border-top: 1px solid rgba(0,0,0,0.5);
    padding-top: 10px;
}

.task-card md-card{
	margin: 0px;
	padding: 10px;
}

.task-card .task-title{
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.task-card .task-description {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: lighter;
    word-wrap: break-word;
}

md-card.priority_1{
	background: #d32f2f;
	border: 1px solid #b71c1c;
}

md-card.priority_2{
	background: #FF8A65;
	border: 1px solid #BF360C;
}

md-card.priority_3{
	background: #AB47BC;
	border: 1px solid #4A148C;
}

md-card.priority_4{
	background: #448AFF;
	border: 1px solid #0D47A1;
}

md-card.priority_5{
	background: #4CAF50;
	border: 1px solid #33691E;
}


.action-panel md-checkbox.md-checked .md-icon {
    background-color: rgba(0,0,0,0.3) !important;
}
.action-panel md-checkbox{
	line-height: none;
}


#avatar-id{ width: 80%;}

.md-button.md-icon-button.avatar-list{
	position: absolute;
	right: -15px;
	top: 15px;
}

.md-button.md-icon-button.avatar-list md-icon{
	font-size: 22px;
	color: #00C853 !important;
}

.task-card-element .contenteditable{
	padding: 5px;
	border: 1px solid #fff;
	transition: all 0.25s ease;
}